html, body {
  height: 100%;
}

.full-height {
  height: 100%;
}

.App {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.slider {
  height: 100%;
}

.slider-wrapper a.previousButton,
.slider-wrapper a.nextButton {
  display: none;
}
.track {
  height: 98vh;
}
.slide.slider-content {
  background-size: 90vh !important;

}

/* Animaciones */
.slider-wrapper {
  position: relative;
  height: 100vh;
}

.slider-content .inner {
  padding: 0 70px;
  box-sizing: border-box;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.slider-content .inner h2 {
  font-weight: 900;
  max-width: 840px;
  color: #000000;
  font-size: 48px;
  line-height: 1;
}


.precio-anterior::before,
.precio-nuevo::before {
  content: '$';
}
.precio-anterior,
.precio-nuevo {
  margin-left: 10px;
}

.loader {
  background-image: url('./assets/loader.gif');
  width: 200px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}